<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title || yield_content(:title) || 'Blog' %> &ndash; simonsmith.io</title>
    <script>
      document.documentElement.className += ' wf-loading';
      var WebFontConfig = {
        google: {
          families: ['Yanone Kaffeesatz', 'Open Sans:400italic,400,600,700,300'],
          classes: false,
          events: false
        }
      };
      var ga = ga || function() {
        (ga.q = ga.q || []).push(arguments);
      };
      ga.l = 1 * new Date();
      ga('create', 'UA-6798894-3', 'auto');
      ga('send', 'pageview');
    </script>
    <style>
      .wf-loading body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.4; letter-spacing: 0.4px;}
      .wf-loading h1 {font-weight: 500;}
      .wf-loading .Logo-subtitle, .wf-loading .Logo-title {visibility: hidden;}
      .wf-loading .Logo-title {font-size: 26px;}
    </style>
    <%= stylesheet_link_tag 'site' %>
    <script async src="//www.google-analytics.com/analytics.js"></script>
    <script async src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <link rel="alternate" type="application/rss+xml" title="simonsmith.io - blog RSS" href="/feed.xml"/>
    <% if content_for? :head %>
      <%= yield_content :head %>
    <% end %>
  </head>
  <body>
    <div hidden>
      <%= partial 'icons/icons.svg' %>
    </div>
    <header class="Header" role="banner">
      <div class="Container">
        <div class="Grid Grid--alignMiddle Grid--withGutter">
          <div class="Header-wrapLogo Grid-cell u-md-size3of12">
            <%= partial 'logo' %>
          </div>
          <div class="Header-wrapNav Grid-cell u-md-size9of12">
            <%= partial 'nav' %>
          </div>
        </div>
      </div>
    </header>
    <main class="Container Container--main" role="main">
      <div class="Grid Grid--withGutter">
        <div class="Grid-cell u-md-size9of12">
            <%= yield %>
        </div>
        <div class="Grid-cell u-md-size3of12 u-md-flexOrderFirst">
          <div class="Aside">
            <div class="Aside-item u-pt30">
              <%= partial 'profile' %>
            </div>
            <div class="Aside-item u-p10">
              <%= partial 'contact' %>
            </div>
          </div>
          <div class="u-mt10 u-textCenter">
            <%= partial 'rss' %>
          </div>
        </div>
      </div>
    </main>
    <footer class="Footer" role="contentinfo">
      <div class="Container">
        <div class="Grid Grid--withGutter">
          <div class="Grid-cell u-md-before3of12">
            <p class="Footer-text">
              Simon Smith <time datetime="<%= Time.now.year %>"><%= Time.now.year %></time> &bull; Built with
              <a class="u-linkMuted u-linkUnderline u-linkNoDecoration" href="http://middlemanapp.com/">Middleman</a> and
              <a class="u-linkMuted u-linkUnderline u-linkNoDecoration" href="http://suitcss.github.io/">SUIT CSS</a> &bull; View
              the sauce
              <a class="u-linkMuted u-linkUnderline u-linkNoDecoration" href="https://github.com/simonsmith/simonsmith.io">on
                GitHub</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script>
      window.$ = document.querySelectorAll.bind(document);
      NodeList.prototype.__proto__ = Array.prototype;
    </script>
    <% if content_for? :scripts %>
      <%= yield_content :scripts %>
    <% end %>
  </body>
</html>
