<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title><%= current_page.data.title || 'Blog' %> &ndash; simonsmith.io &ndash; Portfolio and blog of a London based front-end web developer</title>
    <%= stylesheet_link_tag 'site' %>
  </head>
  <body>
    <%= partial 'header' %>
    <main class="Container Container--main" role="main">
      <div class="Grid Grid--withGutter u-cf">
        <div class="Grid-cell u-md-size9of12 u-floatRight">
            <%= yield %>
        </div>
        <div class="Grid-cell u-md-size3of12 u-floatLeft">
          <div class="Aside Aside--roundBtm">
            <div class="Aside-item Aside-item--shiftUp u-pt30">
              <%= partial 'profile' %>
            </div>
            <div class="Aside-item u-p10">
              <%= partial 'contact' %>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%= partial 'footer' %>
  </body>
  <%= javascript_include_tag 'all' %>
  <% if content_for? :scripts %>
    <%= yield_content :scripts %>
  <% end %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-6798894-3', 'auto');
    ga('send', 'pageview');
  </script>
</html>