<div class="Job entry vcalendar" id="<%= job.id %>">
  <header class="Job-header">
    <h3 class="Job-title fn org">
      <%= job.title %> <% if job.contract %>(Contract)<% end %>
      <small class="Job-role"><%= job.role %></small>
    </h3>
    <a class="Job-url company-url location" href="http://<%= job.url %>">
      <%= job.url %>
    </a>
    <dl class="Job-dates u-dlInline vevent">
      <dt class="u-hiddenVisually">From</dt>
      <dd>
        <time class="dtstart"><%= job.from %></time>
      </dd>
      <dt class="u-textLower">To</dt>
      <dd>
        <% if job.to %>
          <time class="dtend"><%= job.to %></time>
        <% else %>
          Present
        <% end %>
      </dd>
    </dl>
  </header>
  <div class="Job-summary summary">
    <%= markdown job.text %>
  </div>
</div>