<nav class="Nav" role="navigation">
  <p class="u-hiddenVisually">Site navigation</p>
  <ul class="Nav-list u-listUnstyled">
    <li class="Nav-item <%= nav_active('/') %>">
      <%= link_to 'Blog', '/', class: 'Nav-link u-linkMuted' %>
    </li>
    <li class="Nav-item <%= nav_active('/projects/') %>">
      <%= link_to 'Projects', '/projects', class: 'Nav-link u-linkMuted' %>
    </li>
    <li class="Nav-item <%= nav_active('/cv/') %>">
      <%= link_to 'CV', '/cv', class: 'Nav-link u-linkMuted' %>
    </li>
  </ul>
</nav>